@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/CalculateTime.js"></script>
<div class="jumbotron">
    <div align="left">
        Test Banner Time
    </div>    
</div>

<div class="row">
    <div id="Banner1" style="height:200px"><img style="height:150px; width:1216px" src="~/Content/image/images.jpg" /></div>
    <div id="Banner2" style="height:200px"><img style="height:150px; width:1216px" src="~/Content/image/images2.png" /></div>
    <div id="Banner2" style="height:200px"><img style="height:150px; width:1216px" src="~/Content/image/images3.jpg" /></div>
    <div id="Banner3" style="height:200px"><img style="height:150px; width:1216px" src="~/Content/image/images4.png" /></div>
    <div id="Banner5" style="height:200px;"><img style="height:161px;width:1216px;border-style:double; border-color:red; border-width:6px" src="~/Content/image/images5.jpg" /></div>
    <div id="Banner6" style="height:200px"><img style="height:150px" src="~/Content/Image/images6.jpg" /></div>
</div>